.pageHeader {
    width: 100%;
    height: 20%;
    top: 0%;
    left: 0%;
    font-family: Carrois Gothic SC;
    color: #ff9a00;
    background-color: #dddddd;
    position: fixed;
    -webkit-transition: width 1s linear; /*modulates speed of transition- can create an animation of sorts! */
    padding-top:0px;
    padding-bottom: 0px;
    z-index: 3;
}

#topNav {
	position: fixed;
	color: black;
	width: 100%;
	background-color: #dddaaa;
	padding-top: 0px;
}

ul {
	list-style-type: none;
}

.leftNav {
	left: 0%;
	background-color: #ff9a00;
	font-family: Carrois Gothic SC;
	position: fixed;
	float: left;
	height:	10000px;
	width: 20%;
	min-width: 200px;
	z-index: 2;
}

.leftNavItems {

	position: fixed;
	top: 200px;
	
}

.leftNavItems li {
	color: red;
	padding-bottom: 10px;
	align: left;
	-webkit-transition: color .5s ease-in;
	-moz-transition: color .5s ease-in;
	-o-transition: color .5s ease-in;
}

.leftNavItems li:hover {
	color: black;
}

.main {
	position: relative;
	font-family: Carrois Gothic;
	left: 21%;
	top: 190px;
	height: 10000px;
	width: 80%;
	background-color: #ddeeaa
}

/*supposed to make topnav elements horizontal...*/
#topNavElems > li {
	width: 100%;
	display: inline;
}

.octagon {
    width: 100px; 
    height: 100px; 
    background: blue;
}

.octagon:before {
    height: 0;
    width: 40px;
    content:"";
    position: absolute; 
    border-bottom: 30px solid blue;
    border-left: 30px solid white; 
    border-right: 30px solid white; 
}

.octagon:after {
    height: 0;
    width: 40px;
    content:"";
    position: absolute; 
    border-top: 30px solid blue; 
    border-left: 30px solid white;  
    border-right: 30px solid white; 
	margin: 70px 0 0 0;
}

.leftNavSubDiv {
	
}

.leftNavSubList {
	
	
}

.leftNavSubList li {
	padding-bottom: 10px;
	align: left;
	-webkit-transition: color .5s ease-in;
	-moz-transition: color .5s ease-in;
	-o-transition: color .5s ease-in;
}

.contentImg {
	height: 150px;
	width: 150px;
	position: relative;
	left: 50%;
	border: 3px solid black;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

