@CHARSET "US-ASCII";

/*NOTE: h1 is currently only used for the main 'circle' menu text, probably shouldn't change.*/
h1 {	
	font-family: 		Carrois Gothic SC;
	font-size: 			1.25rem;
	color: 				#dd892f;
}

/*Use this as main "in-content" headers*/
section h1 {
	margin-left:		8%;
	margin-top:			20px;
}

h2 {
	font-family: 		Carrois Gothic SC;
	font-size: 			1.1rem;
	color: 				#baad8f;
	margin-left:		12%;
}

article {
	font-family: 	Carrois Gothic;
	font-size:		1rem;
	color:			#d1cebb;
	margin-left:	10%;
	margin-right:	12%;
	line-height:	130%;
}

article ul li {
	margin-bottom: 10px;
}

a {
	color: #fff;
}


#accordion article {
	margin-left: 		-1%;
	margin-right:		-2%
	
}

.hoverMenuItem {
	/*font-family: 		Carrois Gothic SC;
	font-size: 			1.00rem;
	color: 				#64aac5;*/
	
}

.main {
	height: 			100%;
	background-color: 	#574c4c;
}

.mainBody {
	font-family: Carrois Gothic SC;
	margin-left: 11%;
	margin-right: 12%;
	padding-bottom: 1px;
	-webkit-box-shadow: 0px -11px 30px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px -11px 30px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -11px 30px rgba(50, 50, 50, 0.75);
	background: #030303;
	max-width: 882px;
}

.footer {
	vertical-align: bottom;
	color: #d1cebb;
	padding-top: 13%;
	margin-top: 0;
	font-family: Carrois Gothic SC;
	margin-left: 11%;
	margin-right: 12%;
	background: #030303;
	max-width: 882px;
	min-height: 80px;
	max-height: 80px;
}

.mainPageHdr {
	/*font-family: 		Carrois Gothic SC;*/
	margin-top: 		5%;
}

.mainPageHdr table {
	font-family: 		inherit;
}

.mainContent {
	height: 			400px;
	/*background: 		#030303;*/
	margin-top: 		-60px;
	/*margin-left: 		11%;
	margin-right: 		12%;*/
	z-index: 99;
}

.titleText {
	z-index: 			100;
	position: 			relative;
	left: 				0;
	top: 				-30px;
	font-size: 			2.5rem;
}

.txtFName {
	color: 				#64aac5;
}

.txtLName {
	color: 				#dd892f;
}

.titleOccupation {
	color: 				#d1cebb;
	font-size: 			1.55rem;
	line-height: 		0;
}


.hdrImg {
	top: 				10%;
	/*left: 			143px;*/
	width: 				100%;
	display: 			block;
	/*margin-left:	 	11%;
	margin-right: 		12%;*/
}

.menuGraphic {
	left: 8%;
	display: inline-block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 164px;
	width: 100%;
}

.circleTableRow {
	height:				100%
}

.circleTableRow td{
	width: 				20%;
}

#sectMainMenuCircles {
	padding-top:		14%;
	font-family:		Carrois Gothic SC;
	font-size:			1.2rem;
	color:				#64aac5;
	text-align:			center;
}

#circleLine {
	background: #d1cebb;
	color: #d1cebb;
	width: 67.5%;
	margin-left: 6%;
	margin-right: auto;
	position: absolute;
	margin-top: 8.25%;
}

#sectionsHeaderLine {
	margin-top:	-17px;
	background: #d1cebb;
	color: #d1cebb;
	position: relative;
	width: 99%;
	max-width: 880px;
}



.square {
    width:				10%;
    height:				auto;
    display:			block;
    overflow:			hidden;
    float:				left;
    margin:				5px;
    padding:			5px;
    background-color: 	#FF0000;
}

.circleImgDiv {
	z-index: 103;
	float: left;
	display: block;
	overflow: hidden;
	margin: 4px;
	min-width: 0%;
	min-height: 0%;
	width: 16%;
	height: 100%;
	padding-left: 0%;
	padding-right: 0%;
	
}

.circleImgDiv:hover .circleText{
	color:				#64aac5;
}

.circleImgDiv:hover .circleImg {
	background-image: url('../img/homeCircleHover.png')
}

.circleImg {
	background-image: url('../img/homeCircleDefault.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 153%;
	max-width: 98px;
	max-height: 138px;
	background-position: 50% -1%;
	margin-left: 0;
	margin-right: 0;
	-webkit-transition: background-image 1s linear;
	-moz-transition: background-image 1s linear;
	-o-transition: background-image 1s linear;
	transition: background-image 1s linear;
}

.circleText {
	position: relative;
	text-align: center;
	margin-left: 0%;
	margin-right: 0;
	width: 100%;
	/*top: 40%;*/
	top: 100px;
	-webkit-transition: color 1s linear;
	-o-transition:		color 1s linear;
	-moz-transition:	color 1s linear;
	transition:			color 1s linear;
}

/*****
THIS IS FOR THE SECTIONS PAGE
Except articles: this is where they show up so putting them here too...
*****/



article:first-letter {
	font-size: 		200%;
	color:			#64aac5;
}	

.sectionsMenuGraphic {
	left: 			41%;
	display: 		inline-block;
	position: 		relative;
	margin-left: 	auto;
	margin-right: 	auto;
	height: 		72px;
	width: 			58%;
	top:			-48px;
}

.sectionsCircleImgDiv {
	z-index: 103;
	float: left;
	display: block;
	overflow: hidden;
	margin: 4px;
	min-width: 0%;
	min-height: 0%;
	width: 18%;
	height: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

.sectionsCircleImg {
	background-image: url('../img/sectionsCircleDefault.png');
	background-repeat: no-repeat;
	background-size: 30%;
	min-height: 30px;
	background-position: center;
	-webkit-transition: background-image .5s linear;
	-moz-transition: background-image .5s linear;
	-o-transition: background-image .5s linear;
	transition: background-image .5s linear;
}

.sectionsCircleText {
	position: relative;
	text-align: center;
	margin-left: 0%;
	margin-right: 0;
	width: 100%;
	top: 29px;
	left: 0px;
	font-size: 0.8rem;
	-webkit-transition: color .5s linear;
	-o-transition:		color .5s linear;
	-moz-transition:	color .5s linear;
	transition:			color .5s linear;
}

.sectionsCircleImgDiv:hover .sectionsCircleImg {
	background-image: url('../img/sectionsCircleHover.png');
}

.sectionsCircleImgDiv:hover .sectionsCircleText {
	color: #64aac5;
}

#accordionContainer {
	width: 84%;
	margin-left: 8%;
	
}

/***
FOR PORTFOLIO PAGE:
*/


/*for a list of images displayed inside one of the articles on Portfolio page.*/
article .imageList {
	width: 48%;
	float: right;
	clear: right;
	margin-top: 0;
	margin-left: 15px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}

article .smallImage {
	width:	20%;
}